.cards {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.status {
    border: 2px solid transparent;
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status:hover {
    border: 2px solid var(--status-border-hover);
    scale: .97;
}

.status__icon {
    font-size: 3.6rem;
    margin-right: .8rem;
}

.info {
    text-decoration: none;
    font: var(--ts-caption);
    font-size: 2rem;
    text-transform: uppercase;
}

.info__label {
    display: none;
}

.temperatura {
    background-color: var(--bg-temperatura);
    color: var(--clr-temperatura);
}

.umidade {
    background-color: var(--bg-umidade);
    color: var(--clr-temperatura);
}

.pressao {
    background-color: var(--bg-pressao);
    color: var(--clr-temperatura);
}

.luminosidade {
    background-color: var(--bg-luminosidade);
    color: var(--clr-temperatura);
    
}