html {
  font-size: 62.5%;
  /* Esquema para 1rem ser igual a 10px */
  font-family: var(--ff);
  color: var(--clr-font);
  transition: var(--transition);
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background);
  transition: var(--transition);
}

section {
  transition: var(--transition);
  box-shadow: var(--shadow-card);
  background-color: var(--clr-card);
  padding: 1.6rem;
  border-radius: 1.6rem;
}

footer {
  background-color: var(--clr-card);
  transition: var(--transition);
  font: var(--ts-normal-semibold);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 12rem;
}

a {
  text-decoration: none;

}