@media(min-width:900px) {

    .graficos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .temperatura-grafico {
        grid-column: span 2;
        grid-row: span 1;
    }

    .status {
        min-height: 12rem;
        max-width: 100%;
        justify-content: start;
    }

    .info__label {
        display: block;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .footer__button {
        margin-right: 5rem;
    }
}

@media(min-width:960px) {


    .select {
        grid-column: 1/ -1;
    }

    .temperatura-grafico {
        grid-column: span 2;
    }
}


@media(min-width:1170px) {

    .cards {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    .graficos {
        grid-template-columns: repeat(4, 1fr);
    }

    .temperatura-grafico {
        grid-column: span 3;
        grid-row: span 2;
    }

    .luminosidade-grafico,
    .padrao {
        grid-column: span 2;
    }

    .select {
        max-width: 24.5%;
    }

    .status:nth-of-type(1) {
        grid-column: 1;
    }

}